.container {
  position: relative;
  // background-image: url("../../../../assets/img/svg/blueShape.svg"),
  // linear-gradient(-45deg, rgb(39, 139, 254), white);
  display: flex;
  flex-direction: row;
  width: 100%;

  min-height: 100vh;
  .rightBox {
    background-image: url(../../../../assets/img/pages/register/signin-bk.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    flex: 1;
    height: 100vh;
    // padding: 100px;
    .boxHolder {
      padding: 100px;
      .description {
        line-height: 35px;
        font-size: 18px;
        color: white;
      }
      .logoHolder {
        width: fit-content;
        margin: 0 auto;
        .logo {
          background-image: url(../../../../assets/img/svg/sepandLogo.svg);
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: center center;
          width: 30px;
          height: 30px;
          display: inline-block;
          margin-right: 10px;
        }
        .logoText {
          background-image: url(../../../../assets/img/svg/sepand-txt.svg);
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: center center;
          width: 200px;
          height: 30px;
          display: inline-block;
        }
      }
    }
    .formPartHolder {
      width: 40%;
    }
  }
  .leftBox {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    // margin: 100px 0;
    height: 100vh;
    .form {
      width: 75%;
      border: 1px solid rgb(212, 212, 212);
      padding: 20px 50px;
      background-color: rgba(255, 255, 255, 1);
      border-radius: 10px;
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
      height: 80%;
      overflow: auto;

      .codeInput {
        direction: rtl;
        display: inline-block;
        // margin: 20px auto 10px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .container {
    .innerContainer {
      width: 100%;
      .formPartHolder {
        width: 60%;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .container {
    .innerContainer {
      width: 100%;
      .formPartHolder {
        width: 80%;
      }
    }
  }
}
