.signUpButton {
  margin-top: 20px;
  padding: 10px 40px;
  border-radius: 10px;
  color: #0073ae;
  border: 2px solid #0073ae;
  box-sizing: border-box;
  cursor: pointer;
}

.spinner {
  margin-left: 10px;
  position: absolute;
  top:15px

}